{% extends "base.html.j2" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
{% include "security/_messages.html" %}
<h1>Custom Login Form</h1>
<form action="{{ url_for_security('login') }}" method="POST" name="login_form">
  {{ login_form.hidden_tag() }}
  {{ render_field_with_errors(login_form.email) }}
  {{ render_field_with_errors(login_form.password) }}
  {{ render_field_with_errors(login_form.remember) }}
  {{ render_field(login_form.next) }}
  {{ render_field(login_form.submit) }}
</form>
{% include "security/_menu.html" %}
{% endblock %}
