/*ul.horizontal li {
    display:inline;
    text-align:justify;
}*/
ul.horizontal {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;
    /*background: #cacaca;*/
    margin: 0;
    padding: 0;
}
ul.horizontal li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    /*background: #fafafa;*/
}
div.settings_section {
    display: block;
    padding: 2;
}
