{% import 'macros.html.j2' as macros %}
{% extends "base.html.j2" %}
{% block title %}{{ super() }} - Brew List{% endblock %}
{% block head %}
{{ super() }}
<script type=text/javascript>
  $(function() {
    $('input#brew_list_submit').bind('click', function() {
      $.ajax({
      url: "{{ url_for('delete_brew') }}?brew_id=" + $('input[name="brew_id"]').val(),
      type: 'DELETE',
      success: function(result) {
          location.reload()
      }
      });
    });
  });
</script>
{% endblock %}
{% block content %}
<a href="/brew" id="new_brew">Add</a>
<form id='brew_list_form' action='#'>
<table>
    <tr><th>Name</th><th>Style</th><th>ABV</th><th><input id='brew_list_submit' type='submit' value='Delete' form='brew_list_form' /></th></tr>
    {% for brew in brews %}
        <tr><td><a href="/brew?id={{ brew.id }}" >{{ brew.name }}</a></td><td>{{ brew.style }}</td><td>{{ brew.abv }}</td><td><input name='brew_id' value='{{ brew.id }}' type='checkbox' form='brew_list_form'></input></td></tr>
    {% endfor %}
</table>
</form>
{% endblock %}
