{% extends 'base.html.j2' %}
{% import 'macros.html.j2' as macros %}
{% block content %}
{{ macros.render_form(brew_form, action_url='/brew') }}
{% if gravity_form %}
    {{ macros.render_form(gravity_form, action_url='/gravity') }}
{% endif %}
{% endblock %}
